* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #1f2041;
  font-size: 14px;
  font-family: montserrat, arial, sans-serif;
  background: #e2e2e2;
}

body {
  margin: 0 auto;
  min-width: 320px;
  background: #fff;
  max-width: 1440px;
  padding: 145px 150px;
}

.colors-type {
  display: flex;
}
.colors-type__color-examples {
  margin-right: 416px;
}
.colors-type__color-example:not(:last-of-type) {
  margin-bottom: 20px;
}
.colors-type__font-example:not(:last-of-type) {
  margin-bottom: 47px;
}
