* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #1f2041;
  font-size: 14px;
  font-family: montserrat, Arial, sans-serif;
  background: #e2e2e2;
}

body {
  margin: 0 auto;
  min-width: 320px;
  background: #fff;
  max-width: 1440px;
  padding: 140px 0 132px 140px;
}

.form-elements {
  display: flex;
  flex-wrap: wrap;
}
.form-elements__column-left {
  margin-right: 127px;
  width: 320px;
}
.form-elements__column-middle, .form-elements__column-right {
  width: 320px;
  padding-top: 3px;
}
.form-elements__column-middle {
  margin-right: 72px;
}
.form-elements__column-left-list, .form-elements__column-middle-list, .form-elements__column-right-list {
  list-style: none;
}
.form-elements__column-left-item {
  margin-bottom: 20px;
}
.form-elements__column-left-wrapper-for-datepicker-inputs {
  margin-bottom: 38px;
}
.form-elements__column-left-wrapper-for-masked-input {
  margin-bottom: 39px;
}
.form-elements__column-left-datepicker-inputs-item:nth-child(1) {
  margin-right: 20px;
}
.form-elements__column-left-wrapper-for-guests-input0 {
  margin-bottom: 22px;
}
.form-elements__column-left-wrapper-for-fdd-input {
  margin-bottom: 39px;
  width: 266px;
}
.form-elements__column-left-wrapper-for-subscribe-input {
  margin-bottom: 100px;
  width: 267px;
}
.form-elements__column-left-comfort-input {
  max-width: 266px;
}
.form-elements__column-left-wrapper-for-comfort-input {
  margin-bottom: 168px;
}
.form-elements__expandable-checkbox-list-hide {
  margin-bottom: 40px;
}
.form-elements__expandable-checkbox-list-show {
  margin-bottom: 43px;
}
.form-elements__column-left-wrapper-for-comfort-status-list {
  width: 280px;
}
.form-elements__column-middle-wrapper-for-checkboxes-list {
  margin-bottom: 41px;
  width: 240px;
}
.form-elements__column-middle-wrapper-for-radios-list {
  margin-bottom: 43px;
}
.form-elements__column-middle-wrapper-for-toggles-list {
  margin-bottom: 45px;
}
.form-elements__likes-buttons {
  margin-bottom: 20px;
}
.form-elements__likes-button-list {
  list-style: none;
  display: flex;
}
.form-elements__likes-button-list-caption {
  margin-bottom: 16px;
  font-size: 0.857143rem;
  font-family: montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form-elements__likes-button-list-item:not(:last-child) {
  margin-right: 10px;
}
.form-elements__column-middle-wrapper-for-likes-button-list {
  margin-bottom: 40px;
}
.form-elements__rate-buttons-list-caption {
  margin-bottom: 16px;
  font-size: 0.857143rem;
  font-family: montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form-elements__rate-buttons-list {
  list-style: none;
  display: flex;
}
.form-elements__rate-buttons-list-item:not(:last-child) {
  margin-right: 20px;
}
.form-elements__column-middle-wrapper-for-rate-buttons-list {
  margin-bottom: 191px;
}
.form-elements__column-middle-wrapper-for-guests-input1 {
  margin-bottom: 257px;
}
.form-elements__column-middle-wrapper-for-rich-checkboxes-list {
  width: 253px;
  margin-bottom: 236px;
}
.form-elements__column-middle-wrapper-for-rich-checkboxes-list .checkboxes-list__item:nth-child(1) {
  width: 220px;
}
.form-elements__column-wrapper {
  display: flex;
  flex-direction: column;
}
.form-elements__columns-middle-right {
  display: flex;
  flex-direction: row;
}
.form-elements__column-right-wrapper-for-range-slider {
  width: 266px;
  margin-bottom: 40px;
}
.form-elements__column-right-wrapper-for-buttons-list {
  margin-bottom: 40px;
}
.form-elements__buttons-list {
  list-style: none;
}
.form-elements__buttons-list-caption {
  margin-bottom: 16px;
  font-size: 0.857143rem;
  font-family: montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form-elements__buttons-list-item {
  height: inherit;
}
.form-elements__two-buttons-list {
  list-style: none;
  display: flex;
}
.form-elements__buttons-list-item:not(:last-of-type) {
  margin-bottom: 29px;
}
.form-elements__two-buttons-list-item_width {
  width: 99px;
}
.form-elements__buttons-list-item.form-elements__simple-buttons {
  margin-bottom: 27px;
}
.form-elements__two-buttons-list3 .form-elements__two-buttons-list-item {
  height: auto;
}
.form-elements__two-buttons-list-item:first-child {
  margin-right: 19px;
}
.form-elements__pagination-wrapper {
  margin-bottom: 240px;
  max-width: 241px;
}
.form-elements__pagination-wrapper-caption {
  margin-bottom: 16px;
  font-size: 0.857143rem;
  font-family: montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form-elements__column-right-wrapper-for-guests-input2 {
  margin-bottom: 257px;
}
.form-elements__column-right-wrapper-for-bullet-list {
  width: 260px;
}
.form-elements__column-right-bullet-list-caption {
  margin-bottom: 12px;
  font-size: 0.857143rem;
  font-family: montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.form-elements__row {
  width: 712px;
}
.form-elements__expandable-checkbox-list-hide, .form-elements__expandable-checkbox-list-show {
  width: 266px;
}
