* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #1f2041;
  font-size: 14px;
  font-family: montserrat, arial, sans-serif;
  background: #e2e2e2;
}

body {
  margin: 0 auto;
  min-width: 320px;
  background: #fff;
  max-width: 1440px;
  background: #e5e5e5;
}

.headers-footers__header-auth-false {
  margin-top: 150px;
  margin-bottom: 40px;
  z-index: 2;
}
.headers-footers__header-auth-true {
  margin-bottom: 40px;
}
.headers-footers__footer-normal {
  margin-bottom: 41px;
}
.headers-footers__footer-responsive {
  margin-bottom: 130px;
}
.headers-footers .header__header-menu {
  margin-right: 28px;
}
.headers-footers .header-menu > .header-menu__item:not(:last-of-type) {
  margin-right: 30px;
}
.headers-footers .header-menu__item:not(:last-of-type).header-menu__list_arrow {
  margin-right: 17px;
}
.headers-footers .button-bordered_header {
  padding: 9px 20px 10px 18px;
}
@media screen and (max-width: 3840px) {
  .headers-footers__footer-responsive .footer__footer-menu,
.headers-footers__footer-responsive .footer__subscribe-area,
.headers-footers__footer-responsive .footer__copyright {
    display: none;
  }
  .headers-footers__footer-responsive .footer__footer-top {
    border: none;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 100px;
    min-height: 233px;
  }
  .headers-footers__footer-responsive .footer__footer-bottom {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 110px;
  }
  .headers-footers__footer-responsive .footer__footer-top .footer__logo-with-text {
    text-align: center;
    width: auto;
    max-width: 560px;
    display: flex;
    justify-content: center;
    margin: 0 auto 17px auto;
  }
  .headers-footers__footer-responsive .logo-with-text__text {
    letter-spacing: normal;
  }
}
