.select-items {
  width: 100%;
}
.select-items__container {
  display: flex;
}
.select-items__container > *:not(:last-child) {
  margin-right: 5px;
}
.select-items__title {
  font-weight: bold;
}
.select-items__buttons {
  display: flex;
  align-items: center;
}
.select-items__button {
  width: 14px;
  height: 14px;
  font-weight: bold;
}
.select-items__options {
  width: 100%;
}
.select-items__button-add {
  margin-right: 3px;
  color: green;
  line-height: 0.142857rem;
}
.select-items__button-remove {
  color: red;
  line-height: 0;
}
.select-items .select-items_not-using .select-items__title,
.select-items .select-items_not-using .select-items__options {
  color: gray;
}
.select-items .select-items_not-using .select-items__button-remove_disabled {
  color: gray;
}
.panel {
  display: flex;
  flex-direction: column;
}
.panel__boolean-values {
  display: flex;
  font-size: 1.142857rem;
  margin-bottom: 5px;
}
.panel__input-values {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 10px;
}
.panel__section1,
.panel__section2,
.panel__section3 {
  display: flex;
}
.panel__section1 {
  margin-bottom: 5px;
}
.panel__section1 > *:not(:last-child),
.panel__section2 > *:not(:last-child),
.panel__section3 > *:not(:last-child) {
  margin-right: 5px;
}
.panel__boolean-values > *:not(:last-child) {
  margin-right: 10px;
}
.panel__section1 > *,
.panel__section2 > *,
.panel__section3 > * {
  width: 125px;
}
.panel__toxin-rangeslider {
  width: 100%;
  height: 35px;
}
.panel__values {
  margin-right: 5px;
}
.panel_is-vertical {
  height: 390px;
  flex-direction: row;
}
.panel_is-vertical .panel__boolean-values {
  flex-direction: column;
  margin-bottom: 10px;
}
.panel_is-vertical .panel__section1,
.panel_is-vertical .panel__section2,
.panel_is-vertical .panel__section3 {
  flex-direction: column;
}
.panel_is-vertical .panel__toxin-rangeslider {
  height: 100%;
  width: 60px;
}
.panel_is-vertical .panel__section1 > *:not(:last-child),
.panel_is-vertical .panel__section2 > *:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 5px;
}
.panel_is-vertical .panel__boolean-values > *:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 5px;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox__input {
  margin-right: 3px;
}
.checkbox__text {
  font-weight: bold;
}
.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input__text {
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  display: flex;
  background: #e2e2e2;
  font-family: Arial;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-width: 320px;
  max-width: 1440px;
  background: #fff;
}
ul {
  list-style: none;
}
input,
button {
  font: inherit;
}
.panelv__wrapper {
  display: flex;
  margin-bottom: 15px;
}
.panelv__wrapper > *:not(:last-child) {
  margin-right: 30px;
}
.columns {
  display: flex;
}
.column1 {
  margin-right: 25px;
}
.column1 > *:not(:last-child) {
  margin-bottom: 22px;
}
.panel#p1 .rangeslider .rangeslider__tip {
  background: #EE4266;
}
.panel#p1 .rangeslider .rangeslider__line-selected {
  background: #EE4266;
}
.panel#p1 .rangeslider .rangeslider__handle {
  background: #EE4266;
}
.panel#p1 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: #EE4266;
}
.panel#p1 .rangeslider .rangeslider__handle_isMoving {
  background: #EE4266;
}
.panel#p2 .rangeslider .rangeslider__tip {
  background: #0070B7;
}
.panel#p2 .rangeslider .rangeslider__line-selected {
  background: #0070B7;
}
.panel#p2 .rangeslider .rangeslider__handle {
  background: #0070B7;
}
.panel#p2 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: #0070B7;
}
.panel#p2 .rangeslider .rangeslider__handle_isMoving {
  background: #0070B7;
}
.panel#p3 .rangeslider .rangeslider__tip {
  background: teal;
}
.panel#p3 .rangeslider .rangeslider__line-selected {
  background: teal;
}
.panel#p3 .rangeslider .rangeslider__handle {
  background: teal;
}
.panel#p3 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: teal;
}
.panel#p3 .rangeslider .rangeslider__handle_isMoving {
  background: teal;
}
.panel#p4 .rangeslider .rangeslider__tip {
  background: brown;
}
.panel#p4 .rangeslider .rangeslider__line-selected {
  background: brown;
}
.panel#p4 .rangeslider .rangeslider__handle {
  background: brown;
}
.panel#p4 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: brown;
}
.panel#p4 .rangeslider .rangeslider__handle_isMoving {
  background: brown;
}
.panel#p5 .rangeslider .rangeslider__tip {
  background: orange;
}
.panel#p5 .rangeslider .rangeslider__line-selected {
  background: orange;
}
.panel#p5 .rangeslider .rangeslider__handle {
  background: orange;
}
.panel#p5 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: orange;
}
.panel#p5 .rangeslider .rangeslider__handle_isMoving {
  background: orange;
}
.panel#p6 .rangeslider .rangeslider__tip {
  background: purple;
}
.panel#p6 .rangeslider .rangeslider__line-selected {
  background: purple;
}
.panel#p6 .rangeslider .rangeslider__handle {
  background: purple;
}
.panel#p6 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: purple;
}
.panel#p6 .rangeslider .rangeslider__handle_isMoving {
  background: purple;
}
.panel#p7 .rangeslider .rangeslider__tip {
  background: violet;
}
.panel#p7 .rangeslider .rangeslider__line-selected {
  background: violet;
}
.panel#p7 .rangeslider .rangeslider__handle {
  background: violet;
}
.panel#p7 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: violet;
}
.panel#p7 .rangeslider .rangeslider__handle_isMoving {
  background: violet;
}
.panel#p8 .rangeslider .rangeslider__tip {
  background: #4DBAE6;
}
.panel#p8 .rangeslider .rangeslider__line-selected {
  background: #4DBAE6;
}
.panel#p8 .rangeslider .rangeslider__handle {
  background: #4DBAE6;
}
.panel#p8 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: #4DBAE6;
}
.panel#p8 .rangeslider .rangeslider__handle_isMoving {
  background: #4DBAE6;
}
.panel#p9 .rangeslider .rangeslider__tip {
  background: #3B444B;
}
.panel#p9 .rangeslider .rangeslider__line-selected {
  background: #3B444B;
}
.panel#p9 .rangeslider .rangeslider__handle {
  background: #3B444B;
}
.panel#p9 .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {
  background: white;
  border-color: #3B444B;
}
.panel#p9 .rangeslider .rangeslider__handle_isMoving {
  background: #3B444B;
}
.panels {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 'column1-1 column2-1 column3-1 column4-1' 'column1-2 column2-1 column3-1 column4-1' 'column1-3 column2-2 column3-2 column4-2' 'column1-4 column2-2 column3-2 column4-2';
  justify-items: center;
  gap: 15px 0px;
  padding: 20px;
}
.panels__column:not(:last-of-type) {
  padding-right: 20px;
}
.panels__column1-1 {
  grid-area: column1-1;
}
.panels__column1-2 {
  grid-area: column1-2;
}
.panels__column1-3 {
  grid-area: column1-3;
}
.panels__column1-4 {
  grid-area: column1-4;
}
.panels__column2-1 {
  grid-area: column2-1;
}
.panels__column2-2 {
  grid-area: column2-2;
}
.panels__column3-1 {
  grid-area: column3-1;
}
.panels__column3-2 {
  grid-area: column3-2;
}
.panels__column4-1 {
  grid-area: column4-1;
}
.panels__column4-2 {
  grid-area: column4-2;
}

