.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    color: #4EB5E6; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a; }
    .datepicker--cell.-current-.-in-range- {
      color: #4EB5E6; }
  .datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
  .datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
  .datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: #5cc4ef; }
    .datepicker--cell.-selected-.-focus- {
      background: #45bced; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px; }

.datepicker--day-name {
  color: #FF9A19;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em; }

.datepicker--cell-day {
  width: 14.28571%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.datepicker-inline .datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }
  .datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  position: relative; }
  .datepicker--time.-am-pm- .datepicker--time-sliders {
    -webkit-flex: 0 1 138px;
        -ms-flex: 0 1 138px;
            flex: 0 1 138px;
    max-width: 138px; }
  .-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }
  .datepicker--time-current-hours:after,
  .datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
  .datepicker--time-current-hours.-focus-:after,
  .datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
  .datepicker--time-row:first-child {
    margin-bottom: 4px; }
  .datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none; }
    .datepicker--time-row input[type='range']::-ms-tooltip {
      display: none; }
    .datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-moz-range-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:hover::-ms-thumb {
      border-color: #b8b8b8; }
    .datepicker--time-row input[type='range']:focus {
      outline: none; }
      .datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-moz-range-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
      .datepicker--time-row input[type='range']:focus::-ms-thumb {
        background: #5cc4ef;
        border-color: #5cc4ef; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-moz-range-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-ms-thumb {
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      border: 1px solid #dedede;
      background: #fff;
      cursor: pointer;
      transition: background .2s; }
    .datepicker--time-row input[type='range']::-webkit-slider-thumb {
      margin-top: -6px; }
    .datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-moz-range-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-track {
      border: none;
      height: 1px;
      cursor: pointer;
      color: transparent;
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-lower {
      background: transparent; }
    .datepicker--time-row input[type='range']::-ms-fill-upper {
      background: transparent; }
  .datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }
  .datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
  .datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  .datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Arial, sans-serif;
}

html {
  background: #e2e2e2;
  font-size: 14px;
}

body {
  background: #fff;
}

h1,
h2,
h3,
label {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.857143rem;
  font-weight: bold;
  color: #1f2041;
  text-transform: uppercase;
}

input + label {
  font-weight: normal;
  text-transform: none;
}

h1,
legend {
  font-size: 1.714286rem;
  line-height: 2.142857rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  color: #1f2041;
}

h2 {
  font-size: 1.357143rem;
  font-family: "Open Sans", Arial, sans-serif;
}

input,
textarea,
select,
button {
  font: inherit;
  outline: none;
}

form {
  background: white;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

fieldset {
  border: 0 none;
}

.common__input_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.common__button_reset {
  border: 0;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
  padding-top: 150px;
  min-width: 320px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f4f4f6;
}

.column1, .column2 {
  width: 380px;
}

.column3 {
  width: 320px;
}

.column1,
.column2 {
  margin-right: 40px;
}

.column1__list,
.column2__list,
.column3__list {
  list-style: none;
}

.column1__list,
.column2__list {
  width: 100%;
}

.column1__item,
.column2__item {
  margin-bottom: 40px;
  width: 100%;
}

.column3__list {
  list-style: none;
}

.column3__item {
  margin-bottom: 40px;
}

.column3__wrapper-for-image-slider {
  width: 270px;
  margin-bottom: 37px;
}

.rr-form {
  max-width: 380px;
  padding: 40px 5px 30px;
  display: flex;
  justify-content: center;
}

.rr-form__wrapper-for-inputs {
  max-width: 320px;
}

.rr-form__list {
  list-style: none;
}

.rr-form__title {
  margin-bottom: 20px;
}

.rr-form__wrapper-for-dates {
  margin-bottom: 21px;
}

.rr-form__dates-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rr-form__dates-item {
  max-width: 150px;
  width: 46.875%;
}

.rr-wrapper-guests-input {
  margin-bottom: 30px;
}

.masked-input__caption {
  display: block;
  margin-bottom: 5px;
}

.masked-input__input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: white;
  padding: 6px 15px 8px;
  width: 100%;
  height: 44px;
  outline: none;
}

.masked-input__input::placeholder {
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.25);
}

.masked-input__input:hover,
.masked-input__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.radio__label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-size: 1rem;
  cursor: pointer;
  color: rgba(31, 32, 65, 0.75);
}

.radio__input:not(:checked) + .radio__label {
  color: rgba(31, 32, 65, 0.5);
}

.radio__label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #ffffff;
  border-radius: 100%;
}

.radio__label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.radio__input:not(:checked) + .radio__label:after {
  opacity: 0;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}

.radios-list__list {
  list-style: none;
  display: flex;
}

.radios-list__caption {
  margin-bottom: 16px;
}

.radios-list__item:not(:last-child) {
  margin-right: 20px;
}

.toggle {
  display: flex;
  height: 20px;
}

.toggle__label {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
}

.toggle__label:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 100%;
  border: 1px solid #bc9cff;
  border-radius: 10px;
  transition: 0.2s;
}

.toggle__label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 100%;
  transition: 0.2s;
}

.toggle__input:checked + .toggle__label:after {
  left: 24px;
}

.toggle__input:not(:checked) + .toggle__label:after {
  background: rgba(31, 32, 65, 0.25);
}
.toggle__input:not(:checked) + .toggle__label::before {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.su-form {
  padding: 40px 5px 30px;
  max-width: 380px;
  display: flex;
  justify-content: center;
}

.su-form__main-content {
  max-width: 320px;
}

.su-form__caption {
  margin-bottom: 20px;
}

.su-form__list {
  list-style: none;
  margin-bottom: 24px;
}

.su-form__wrapper {
  margin-bottom: 20px;
}

.su-form__item {
  margin-bottom: 10px;
}

.su-form__wrapper-for-sign-up-button {
  margin-bottom: 30px;
}

.su-form__wrapper-for-sign-in-button {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.su-form__sign-in-text {
  color: #000;
}

.su-form_wrapper-sign-in-button {
  width: 99px;
  height: 44px;
}

@media (max-width: 26.071429rem) {
  .header__wrapper-logo {
    display: none;
  }
}
.tooltip {
  display: inline-block;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.datepicker-input__caption {
  display: inline-block;
  margin-bottom: 5px;
}

.datepicker-input__input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: white;
  padding: 13px 15px;
  font-size: 1rem;
  height: 44px;
  width: 100%;
}

.datepicker-input__input::placeholder {
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
}

.datepicker-input__input:hover,
.datepicker-input__input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.datepicker-input__wrapper {
  position: relative;
}

.datepicker-input__wrapper:after {
  content: "keyboard_arrow_down";
  font-family: "Material Icons";
  color: rgba(31, 32, 65, 0.5);
  font-size: 1.714286rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.iqdropdown {
  align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding-right: 15px;
  position: relative;
  background: #fff;
  width: 100%;
}

.iqdropdown button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.iqdropdown .iqdropdown__icon-decrement {
  display: inline-block;
  height: 15px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 15px;
}

.iqdropdown .iqdropdown__icon-decrement::after {
  background: rgba(31, 32, 65, 0.5);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 5px;
  transition: transform 0.25s ease-in-out;
  width: 5px;
}

.iqdropdown .iqdropdown__icon-decrement.iqdropdown__icon-increment::before {
  background: rgba(31, 32, 65, 0.5);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: rotate(90deg);
  transition: transform 0.25s ease-in-out;
  width: 5px;
}

.iqdropdown__button-increment .iqdropdown__icon-decrement.iqdropdown__icon-increment::before {
  width: 8px;
}

.iqdropdown__button-increment .iqdropdown__icon-decrement::after {
  width: 8px;
  left: 4px;
}

.iqdropdown .iqdropdown__menu {
  background: #fff;
  outline: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: default;
  display: none;
  padding: 6px 7px 9px 13px;
  position: absolute;
  left: 0px;
  top: 43px;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
  width: 100%;
}

.iqdropdown .iqdropdown__menu-option {
  align-items: center;
  display: flex;
  height: 28px;
}

.iqdropdown .iqdropdown__menu-option:not(:last-child) {
  margin-bottom: 9px;
}

.iqdropdown .iqdropdown__menu-option:last-child {
  border: 0;
}

.iqdropdown .iqdropdown-menu-close {
  color: #002674;
  font-size: 1rem;
  font-weight: 600;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
  width: 100%;
}

.iqdropdown.iqdropdown_show .iqdropdown__menu {
  display: block;
}

.iqdropdown__content {
  flex: 1 1;
  padding-right: 10px;
}

.iqdropdown__item {
  color: #1f2041;
  font-size: 0.857143rem;
  font-weight: bold;
}

.iqdropdown p.iqdropdown-description {
  margin-top: 5px;
}

.iqdropdown .iqdropdown__item-controls {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 91px;
}

.iqdropdown .iqdropdown__item-controls .iqdropdown__counter {
  color: #4a4a4a;
  font-size: 0.857143rem;
  font-weight: bold;
  line-height: 1.071429rem;
  padding-top: 7px;
  width: 30px;
  text-align: center;
}

.iqdropdown .iqdropdown__item-controls button {
  align-items: center;
  border: 1px solid #e2e2e2;
  display: flex;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown__item-controls button:hover {
  background-color: #eee;
}

.iqdropdown .iqdropdown__item-controls .iqdropdown__button-increment,
.iqdropdown .iqdropdown__item-controls .iqdropdown__button-decrement {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.iqdropdown .iqdropdown__item-controls button.iqdropdown__button-decrement {
  border-radius: 100%;
}

.iqdropdown .iqdropdown__item-controls button.iqdropdown__button-increment {
  border-radius: 100%;
}

.iqdropdown.iqdropdown.menu-open,
.iqdropdown:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.iqdropdown .iqdropdown__selection {
  color: rgba(31, 32, 65, 0.75);
  font-size: 1rem;
  flex: 1 1;
  position: relative;
  padding: 5px 15px 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iqdropdown .iqdropdown__selection::after {
  font-family: "Material Icons";
  font-size: 1.714286rem;
  content: "keyboard_arrow_down";
  display: inline-block;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 6px;
  bottom: 22px;
}

.iqdropdown .iqdropdown__button-decrement.iqdropdown__button-decrement_disable,
.iqdropdown .iqdropdown__button-increment.iqdropdown__button-increment_disable {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.iqdropdown__buttons {
  padding-top: 13px;
  margin-bottom: 2px;
  display: flex;
}

.iqdropdown__buttons .iqdropdown__clear {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.857143rem;
  color: rgba(31, 32, 65, 0.5);
}

.iqdropdown__buttons .iqdropdown__clear.iqdropdown__clear_hide {
  display: none;
}

.iqdropdown__buttons .iqdropdown__apply {
  margin-left: auto;
  color: #bc9cff;
  font-weight: bold;
  font-size: 0.857143rem;
}

.guests-input {
  max-width: 320px;
  width: 100%;
}

.guests-input__caption {
  margin-bottom: 5px;
}

.datepicker-inline .datepicker,
.datepicker {
  font-family: "Montserrat";
  font-size: 0.857143rem;
  width: 320px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 15px 15px 19px;
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--nav {
  min-height: 24px;
  border-bottom: none;
  margin-bottom: 26px;
}

.datepicker--nav-action {
  width: 24px;
  font-family: "Material Icons";
  font-size: 1.714286rem;
  color: #bc9cff;
}

.datepicker--nav-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.357143rem;
  color: #1f2041;
}

.datepicker--day-name {
  color: #bc9cff;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 11px;
}

.datepicker--cell-day {
  height: 40px;
}

.datepicker--cell-day.-range-from-.-selected-:not(.-focus-) {
  position: relative;
  z-index: auto;
  color: transparent;
}

.datepicker--cell-day.-range-from-.-selected-:not(.-focus-):before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 40px;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.datepicker--cell-day.-range-from-.-selected-:not(.-focus-):after {
  content: attr(data-date);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #bc9cff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker--cell-day.-range-to-.-selected-:not(.-focus-) {
  position: relative;
  z-index: auto;
  color: transparent;
}

.datepicker--cell-day.-range-to-.-selected-:not(.-focus-):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.datepicker--cell-day.-range-to-.-selected-:not(.-focus-):after {
  content: attr(data-date);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #bc9cff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker--cell-day.-selected- {
  border-radius: 50%;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.datepicker--cell-day.-in-range- {
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--cell-day.-selected-.-focus- {
  background: #8ba4f9;
}

.datepicker--cell-day.-other-month-.-in-range-.-focus- {
  color: white;
}

.datepicker--cell-day.-other-month-.-in-range- {
  color: white;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.datepicker--cell-day.-range-from-:not(.-selected-),
.datepicker--cell-day.-range-from-.-focus- {
  border: 1px solid #bc9cff;
  background-color: rgba(139, 164, 249, 0.1);
  border-radius: 50% 0 0 50%;
}

.datepicker--cell-day.-range-to-:not(.-selected-),
.datepicker--cell-day.-range-to-.-focus- {
  border: 1px solid #bc9cff;
  background-color: rgba(139, 164, 249, 0.1);
  border-radius: 0 50% 50% 0;
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--cell-day.-range-from-.-selected-.-focus-,
.datepicker--cell-day.-range-to-.-selected-.-focus- {
  color: rgba(31, 32, 65, 0.75);
}

.datepicker--cell-day.-in-range-.-current-,
.datepicker--cell-day.-current- {
  color: white;
  background: #6fcf97;
  border-radius: 50%;
}

.datepicker--cell-day.-in-range-.-current- {
  position: relative;
}

.datepicker--cell-day.-in-range-.-current-:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.-selected-.datepicker--cell-day.-other-month- {
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.datepicker--cell-day.-focus- {
  border-radius: 50%;
}

.datepicker--cell-day.-disabled- {
  pointer-events: none;
}

.datepicker--pointer {
  display: none;
}

.datepicker.-from-bottom- {
  transform: translateY(-8px);
}

.datepicker__buttons {
  border-top: none;
  height: auto;
  display: flex;
  font-size: 0.857143rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 17px;
  padding: 0px 4px;
  justify-content: space-between;
}

.datepicker__button-clear {
  display: inline-block;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.datepicker__button-apply {
  display: inline-block;
  color: #bc9cff;
  cursor: pointer;
}

.oi-form {
  max-width: 380px;
  padding: 40px 5px 30px;
  display: flex;
  justify-content: center;
}

.oi-form__wrapper-main {
  max-width: 320px;
}

.oi-form__wrapper-for-room-info-caption {
  font-size: 1.714286rem;
  margin-bottom: 17px;
}

.oi-form__item {
  margin-bottom: 20px;
}

.oi-form__list {
  margin-bottom: 30px;
}

.oi-form__list,
.oi-form__dates-list {
  list-style: none;
}

.oi-form__dates-list {
  display: flex;
}

.oi-form__dates-item:not(:last-child) {
  margin-right: 20px;
}

.oi-form__cell-tooltip {
  display: flex;
}

.oi-form__table {
  width: 100%;
  font-size: 1rem;
  color: rgba(31, 32, 65, 0.75);
}

.oi-form__row:nth-child(1) .oi-form__cell-text,
.oi-form__row:nth-child(2) .oi-form__cell-text {
  border-bottom: 13px solid transparent;
}

.oi-form__cell-text {
  width: 214px;
}

.oi-form__cell-value {
  text-align: end;
  vertical-align: top;
}

.oi-form__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: baseline;
}

.oi-form__total-text {
  margin-right: 5px;
  text-transform: none;
}

.oi-form__total-line {
  border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
  margin-right: 5px;
  flex-grow: 1;
}

.text-input {
  width: 100%;
}

.text-input__caption {
  margin-bottom: 5px;
  display: inline-block;
}

.text-input__input {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background: white;
  padding: 13px 15px;
  height: 44px;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.text-input__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.text-input__input:hover,
.text-input__input:focus,
.text-input_isFocused .text-input__input {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.button {
  border: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 0.857143rem;
  line-height: 1.071429rem;
  background: none;
  color: #bc9cff;
  margin: 0px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.button_simple {
  padding: 0;
}

.button_bordered {
  position: relative;
  background: transparent;
  border-radius: 22px;
  z-index: 1;
}

.button_bordered:before,
.button_bordered:after {
  content: " ";
  position: absolute;
  border-radius: 22px;
}

.button_bordered:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #bc9cff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.button_bordered:after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: white;
  z-index: -1;
}

.button_background_colored {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff;
}

.button_arrow {
  padding: 15px 20px;
  width: 100%;
  height: 44px;
  position: relative;
}

.button_arrow:after {
  font-family: "Material Icons";
  content: "arrow_forward";
  position: absolute;
  right: 10px;
  font-weight: normal;
  font-size: 1.714286rem;
  text-transform: none;
}

.button.button_simple.button_disabled {
  color: rgba(31, 32, 65, 0.5);
}

.button.button_bordered.button_disabled:before {
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.button.button_background_colored.button_disabled {
  background: linear-gradient(180deg, #bc9cff7f 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button_dynamic-height {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.button_dynamic-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.si-form {
  max-width: 380px;
  padding: 40px 5px 30px;
  display: flex;
  justify-content: center;
}

.si-form__fieldset {
  max-width: 320px;
  width: 100%;
}

.si-form__caption {
  margin-bottom: 20px;
}

.si-form__list {
  list-style-type: none;
  margin-bottom: 20px;
}

.si-form__item {
  margin-bottom: 10px;
}

.si-form__button-arrow {
  margin-bottom: 30px;
}

.si-form__wrapper-for-sign-in-button {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.si-form__sign-in-text {
  color: #000;
}

.si-form__wrapper-sign-up-button {
  width: 99px;
  height: 44px;
}

.image-slider {
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.image-slider__container {
  display: block;
}

.image-slider__slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}

.image-slider__slide .image-slider__image {
  width: 100%;
  height: 100%;
}

.image-slider__nav .image-slider__label {
  width: 15.56%;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.image-slider_show-nav-btns .image-slider__label,
.image-slider__slide:hover + .image-slider__nav .image-slider__label {
  opacity: 0.5;
}

.image-slider__nav .image-slider__label:hover {
  opacity: 1;
}

.image-slider__nav .image-slider__next {
  right: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.image-slider__prev:after {
  font-family: "Material Icons", Arial, sans-serif;
  content: attr(content);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-slider__next:after {
  font-family: "Material Icons", Arial, sans-serif;
  content: attr(content);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input:checked + .image-slider__container .image-slider__slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .image-slider__container .image-slider__nav .image-slider__label {
  display: block;
}

.image-slider__nav-dots {
  bottom: 7.8%;
  right: 5.5%;
  display: block;
  position: absolute;
  z-index: 20;
  font-size: 0.857143rem;
}

.image-slider__nav-dots .image-slider__nav-dot {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid #fff;
}

.image-slider__nav-dots .image-slider__nav-dot:not(:last-of-type) {
  margin-right: 3px;
}

.image-slider__nav-dots .image-slider__nav-dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.image-slider input:nth-of-type(1):checked ~ .image-slider__nav-dots label:nth-of-type(1) {
  background: #fff;
}

.image-slider input:nth-of-type(2):checked ~ .image-slider__nav-dots label:nth-of-type(2) {
  background: #fff;
}

.image-slider input:nth-of-type(3):checked ~ .image-slider__nav-dots label:nth-of-type(3) {
  background: #fff;
}

.image-slider input:nth-of-type(4):checked ~ .image-slider__nav-dots label:nth-of-type(4) {
  background: #fff;
}

.room-info-caption__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: inherit;
}

.room-info-caption__caption-left-part {
  font-size: inherit;
  color: #1f2041;
}

.room-info-caption__caption-n {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.room-info-caption__caption-room-number {
  font-family: Quicksand, Arial, sans-serif;
  margin-right: 5px;
  font-size: inherit;
  font-weight: bold;
}

.room-info-caption__room-type {
  text-transform: uppercase;
  font-size: 0.857143rem;
  font-weight: bold;
  color: #bc9cff;
}

.room-info-caption__cost-per-day {
  color: rgba(31, 32, 65, 0.5);
  font-weight: bold;
}

.room-info-caption__cost-per-day-value {
  margin-right: 5px;
  font-size: 1rem;
}

.room-info-caption__cost-per-day-text {
  font-weight: normal;
  font-size: 0.857143rem;
}

.rate-button {
  display: inline-flex;
  flex-direction: row-reverse;
}

.rate-button > .rate-button__label {
  cursor: pointer;
  color: #bc9cff;
}

.rate-button__label:after {
  content: "star_border";
}

.rate-button__input:checked ~ .rate-button__label:after {
  content: "star";
}

.rate-button:hover > .rate-button__label:after {
  content: "star_border";
}

.rate-button > .rate-button__label:hover:after,
.rate-button__label:hover ~ .rate-button__label:after {
  content: "star";
}

.rate-button.rate-button_disabled {
  pointer-events: none;
}

.room-info {
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
}

.room-info__wrapper-for-image-slider {
  height: 151px;
}

.room-info__data {
  padding: 20px;
}

.room-info__wrapper-for-room-info-caption {
  font-size: 1.357143rem;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.room-info__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-info__comments {
  color: rgba(31, 32, 65, 0.5);
}

.room-info__comments-count {
  font-weight: bold;
  margin-right: 5px;
}

@media (max-width: 34.285714rem) {
  .column1,
.column2 {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=cards.css.map*/