@font-face {
	font-family: 'Montserrat';
	src: url(../../../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.eot);
	src: local('☺'), url(../../../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff) format('woff'), 
									 url(../../../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf) format('truetype'), 
									 url(../../../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'Montserrat';
	src: url(../../../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.eot);
	src: local('☺'), url(../../../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff) format('woff'), 
									 url(../../../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf) format('truetype'), 
									 url(../../../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
	
}
@font-face {
  font-family: 'Quicksand';
  src: url(../../../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.eot);
  src: local("☺"), url(../../../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff) format("woff"),
									 url(../../../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf) format("truetype"), 
									 url(../../../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg) format("svg");
  font-weight: normal;
	font-style: normal;	
}

@font-face {
  font-family: 'Quicksand';
  src: url(../../../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.eot);
	src: local("☺"), url(../../../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.woff) format("woff"), 
									 url(../../../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.ttf) format("truetype"),
    							 url(../../../fonts/Quicksand/Quicksand-Bold/Quicksand-Bold.svg) format("svg");
  font-weight: bold;
	font-style: normal;	
}

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.eot); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.eot?#iefix) format('embedded-opentype'), 
       url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.woff2) format('woff2'), 
       url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.woff) format('woff'), 
       url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.ttf) format('truetype'), 
       url(../../../fonts/Open-Sans/regular/open-sans-v17-cyrillic_latin-regular.svg#OpenSans) format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.eot); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.eot?#iefix) format('embedded-opentype'), 
       url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.woff2) format('woff2'), 
       url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.woff) format('woff'), 
       url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.ttf) format('truetype'), 
       url(../../../fonts/Open-Sans/bold/open-sans-v17-cyrillic_latin-700.svg#OpenSans) format('svg'); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, Arial, sans-serif;
}

html {
  background: #e2e2e2;
  font-size: 14px;
}

body {
  margin: 0 auto;
  background: #fff;
}

h1,
h2,
h3,
label {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.857143rem;
  font-weight: bold;
  color: #1f2041;
  text-transform: uppercase;
}

input + label {
  font-weight: normal;
  text-transform: none;
}

h1,
legend {
  font-size: 1.714286rem;
  line-height: 2.142857rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  color: #1f2041;
}

h2 {
  font-size: 1.357143rem;
  font-family: "Open Sans", Arial, sans-serif;
}

input,
textarea,
select,
button {
  font: inherit;
  outline: none;
}

form {
  background: white;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

fieldset {
  border: 0 none;
}

.common__input_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.common__button_reset {
  border: 0;
  background: transparent;
}

ul {
  list-style: none;
}

.color-example {
  display: flex;
}

.color-example__squareColor {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 40px;
}

.color-example__squareColor_DS100 {
  background: #1f2041;
}
.color-example__squareColor_DS75 {
  background: rgba(31, 32, 65, 0.75);
}
.color-example__squareColor_DS50 {
  background: rgba(31, 32, 65, 0.5);
}
.color-example__squareColor_DS25 {
  background: rgba(31, 32, 65, 0.25);
}
.color-example__squareColor_DS5 {
  background: rgba(31, 32, 65, 0.05);
}
.color-example__squareColor_Purple {
  background: #bc9cff;
}
.color-example__squareColor_Green {
  background: #6fcf97;
}

.color-example .color-example__textDesc {
  vertical-align: middle;
  color: #1f2041;
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.357143rem;
  line-height: 2.071429rem;
  margin: 6px 0px;
}

.color-example__title {
  font-weight: bold;
}

.color-example__title, .color-example__text {
  font-family: Quicksand, Arial, sans-serif;
}

.font-example {
  display: flex;
}

.font-example__title {
  font-family: Montserrat, Arial, sans-serif;
  margin-right: 30px;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  width: 50px;
}

.font-example__desc {
  color: #1f2041;
  font-family: inherit;
}

.font-example_h1 {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.714286rem;
  line-height: 2.142857rem;
}
.font-example_h1 .font-example__desc {
  width: 351px;
  font-weight: bold;
}
.font-example_h2 {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 1.357143rem;
  line-height: 1.714286rem;
}
.font-example_h2 .font-example__desc {
  width: 282px;
  font-weight: bold;
}
.font-example_h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.857143rem;
  line-height: 1.071429rem;
}
.font-example_h3 .font-example__desc {
  width: 186px;
  font-weight: bold;
}
.font-example_body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.714286rem;
}
.font-example_body .font-example__desc {
  width: 301px;
  color: rgba(31, 32, 65, 0.75);
}

body {
  margin: 0px auto;
  padding: 145px 150px;
  display: flex;
  min-width: 320px;
  max-width: 1440px;
  background: white;
}

.color-example__wrapper {
  margin-right: 416px;
}

.color-example:not(:last-of-type) {
  margin-bottom: 20px;
}

.font-example:not(:last-of-type) {
  margin-bottom: 50px;
}

/*# sourceMappingURL=ct.css.map*/